{
  "extends": ["plugin:react/recommended", "xo/esnext"],
  "plugins": ["flowtype"],
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "new-cap": 0,
    "strict": "error",
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "object-curly-spacing": [0, "error"],
    "no-duplicate-imports": "error",
    "lines-between-class-members": 0,
    "no-return-assign": 0
  }
}
