{
  "extends": "xo/esnext",
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "strict": "error",
    "no-mixed-spaces-and-tabs": 0,
    "indent": ["error", 4],
    "object-curly-spacing": 0
  }
}
