{
  "extends": ["plugin:react/recommended", "xo/esnext"],
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "new-cap": 0,
    "strict": "error",
    "indent": ["error", 4],
    "object-curly-spacing": [0, "error"],
    "no-duplicate-imports": "error"
  }
}
